.container{
    display: flex;
    flex-direction: row;
}
.item{
    margin: 4px;
    height: 20px;
    width:500px;
    border: 1px solid;
}
.item1{
    margin: 4px;
    height: 20px;
    width:750px;
    border: 1px solid;
}